body {
    background-color: white;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
a{
  color: lightblue;
}
.navbar {
    margin:auto;
    width:815px;
    height:30px;
}
.navbarlink,.navbarlink:active,.navbarlink:visited {
    width:1400px;
    height:98px;
    color:white;
    background-color:lightsteelblue;
    text-align:center;
    font-size:24px;
    margin:auto;
}
 .navbarlink:hover {
    width:1400px;
    height:100px;
    margin:auto;
    color:ghostwhite;
    background-color:royalblue;
    text-align:center;
    font-size:24px;
}
