body {
    background-color: white;
}
h1 {
    color: black;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:royalblue;
}
li {
    float:left;
}
img.logo{
  margin: 10px 10px 10px 10px;
  width: 10%;
}
img.banner{
  width: 100%;
}
li.navbar_hidden{
  color: royalblue;
}
img.icon{
  width:30%;
}
img.bgimg{
  margin-left: auto;
  margin-right: auto;
  
}
/* -- DIVS -- */
div.socialmedia{
  width: 20%;
  float: right;
  margin-top: 3.75%;
  margin-right: 1%
}
div.iframediv{
  width: 760px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
div.iframelinkdiv{
  width: 89.49%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
div.committeeframediv{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
div.committeeframelinkdiv{
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
div.mainpage_speech{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif;
}
div.faq{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans',sans-serif;
}
div.payment_faq{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto',sans-serif;
}
div.committeeframecontent{
  font-family: 'Roboto',sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
div.banner_wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div.countdown_wrapper{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 50px;
  font-family: 'VT323';
}
/* text stuff*/
h1{
  font-family: 'Roboto',sans-serif;
  font-size: 40px;
  font-weight: bold;
}
h2{
  color: orange;
  font-family: 'Oswald',sans-serif;
}
/* iframe stuff*/
ul.iframelink{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
iframe.appframe{
  height: 500px;
  width: 760px;
  margin-bottom: 10%;
}
iframe.committeeframe{
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* list stuff */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color:lightsteelblue;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightsteelblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}
