body {
    background-color: white;
}
h1 {
    color: white;
    text-align: center;
}
header{
  float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:royalblue;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
p{
    font-family: verdana;
    font-size: 20px;
}
a{
  color: lightblue;
}
.mainpage_speech{
  background-color: transparent;
}
img.logo{
  margin: 10px 10px 10px 10px;
  height: 15%;
  width: 20%;
}
/*.navbar {
    margin:auto;
    width:815px;
    height:30px;
}
.navbarlink,.navbarlink:active,.navbarlink:visited {
    width:1400px;
    height:98px;
    color:white;
    background-color:lightsteelblue;
    text-align:center;
    font-size:24px;
    margin:auto;
}
 .navbarlink:hover {
    width:1400px;
    height:100px;
    margin:auto;
    color:ghostwhite;
    background-color:royalblue;
    text-align:center;
    font-size:24px;
}*/
